{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static "styles/style.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>To Do List</title>
</head>

<body>
	<div class="main-title">
		<h1>To Do List</h1>
	</div>
	<div class="center-column">

		<form method="POST" action="/">
			{% csrf_token %}
			{{form.title}}
			<div id="add-task">
				<input  
				class="btn btn-info" 
				type="submit" 
				name="Create Task" 
				value="Add New Task">
			</div>

		</form>

		<div class="todo-list">

			{% for task in tasks %}
			<div class="item-row">
				<div>
					{% if task.complete == True %}
					<del>{{task}}</del>
					{% else %}
					<span>{{task}}</span>
					{% endif %}
				</div>

				<div>
					<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
					<a id="btn-delete" class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

				</div>



			</div>
			{% endfor %}
		</div>
	</div>
</body>

</html>